@media screen and (max-width:1050px) {
  .text-8xl {
    font-size: 75px;
    margin: 1.5rem;
  }

  .text-3xl{
    font-size:25px;
    margin: 0.4rem;
  }
   
  .text-2xl{
    font-size:17px;
    margin: 0.8rem;
  }
  
}

@media screen and (max-width:700px) {
    .text-8xl {
        font-size: 50px;
        margin: 1rem;

    }

    .text-3xl {
        font-size:18px;
        margin: 0.2rem;
    }

    .text-2xl{
      font-size:10px;
      margin: 0.25rem;
    }
}
    
@media screen and (max-width:350px) {
    .text-8xl {
        font-size: 25px;
        margin: 0.5rem;
    }
    

    .text-3xl {
        font-size:8px;
        margin: 0.1rem;
    }

    .text-2xl{
      font-size:2px;
      margin: 0.1rem;
    }
}
    